module chrome 1.0;

require {
        type chrome_sandbox_t;
        type chrome_sandbox_exec_t;
        class file execute_no_trans;
        class capability dac_override;
        class process setcap;
}

#============= chrome_sandbox_t ==============
allow chrome_sandbox_t chrome_sandbox_exec_t:file execute_no_trans;
allow chrome_sandbox_t self:capability dac_override;
allow chrome_sandbox_t self:process setcap;
